section{
	background-color: #E5E2E1;
	padding: 1px;
}

.navbar-header > button{
	background-color: #E5E2E1;
}

.container{
	width: 90%;
}


@media(max-width: 767px){
	#navbar-collapse-items{
		background-color: #E5E2E1;
	}
}